@import url("https://fonts.googleapi.com/css2?family=Poppins:wgth@200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
}
.filter {
  background-color: #eee;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
  padding: 10px;
  width: 300px;
  top: -20px;
  position: fixed;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.filter h3 {
  cursor: pointer;
  text-align: center;
}
form {
  justify-content: center;
}
.radio-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
}
.submit {
  width: 100px;
  height: 50px;
  background-color: white;
  font-size: 20px;
  border-color: black;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.submit:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.filter .dropdown {
  padding: 15px 5px;
  border-radius: 5px;
  background: #fff;
  height: 0px;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, visibility 0.3s;
  visibility: hidden;
}
.filter h3 {
  z-index: 15;
}
.filter .dropdown.active {
  visibility: visible;
  height: 180px;
  opacity: 1;
}
.filter .dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter .dropdown ul li {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
  transition: 0.1s;
}
.filter .dropdown ul li.active,
.filter .dropdown ul li:hover {
  background: #eee;
  color: royalblue;
}
.tile-holder {
  margin: 70px 0;
  margin-left: 350px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns:minmax(300px, 600px);
}
.card:nth-of-type(5n-4) {
  /* grid-row: 1; */
  grid-column: 1;
}
.card:nth-of-type(5n-3) {
  /* grid-row: 1; */
  grid-column: 2/2;
}
.card:nth-of-type(5n -2) {
  /* grid-row: 1; */
  grid-column: 3/3;
}
.card:nth-of-type(5n -1) {
  /* grid-row: 1; */
  grid-column: 4/4;
}
.card:nth-of-type(5n) {
  /* grid-row: 1; */
  grid-column: 5/5;
}


.card {
  position: relative;
  border-radius: 20px;
  min-height: 100%;
  overflow: hidden;
}
.card .before {
  content: "";
  position: absolute;
  top: -40%;
  right: -40%;
  width: 100%;
  height: 76.199%;
  border-radius: 50%;
  /* transform: skewY(345deg); */
  transform: scale(1);
  transition: transform 0.5s, top 0.5s;
}
.card:hover .before {
  /* transform: skewY(390deg); */
  transform: scale(2);
}
.card .img-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.card .img-box img {
  transform: scale(1);
  max-width: 80%;
  transition: 0.5s;
}
.card:hover .img-box img {
  transform: scale(0.7) translateY(-20%);
}
.card .content-box {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  transition: 0.5s;
  transform: translateY(0%);
}
.card:hover .content-box {
  transform: translateY(-60%);
}
.card .content-box h3 {
  margin-bottom: 0;
  font-size: 24px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 600;
}
.card .content-box .price {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.card .content-box .buy {
  position: relative;
  opacity: 0;
  transition: 0.5s;
  padding: 10px 30px;
  margin-top: 15px;
  color: #eee;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.card:hover .content-box .buy {
  opacity: 1;
  top: 0;
}
.card .content-box .buy:hover {
  color: #fff;
}
.card .anchor {
    position: absolute;
    bottom: 0;
    opacity: 0;
    height: 10px;
    width: 100%;
}
.no-data {
  margin: 50px 0 0 350px;
}
